.archives, .container {
    position: relative;
}
.archives .year {
    border-top: 1px solid #fff;
    line-height: 35px;
    padding-top: 15px;
    position: absolute;
    top: 0;
    width: 200px;
}
.archives .year:before {
    border-top: 1px solid #ddd;
    content: "";
    position: absolute;
    top: -2px;
    width: 100%;
}
.archives article {
    margin-left: 200px;
    padding: 15px 0;
}
.archives article .title {
    font-size: 1.2em;
    margin-bottom: 0;
}
